.text-field-width {
  width: 500px;
}

.form-question {
  margin: 2rem;
}

.form-button {
  width: 50px;
}

.text-editor {
  position: absolute;
  margin-top: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
